/* =========== 컴퓨터 =========== */
/* ------- 헤더 ------- */
header{
    z-index:100;
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
    height:70px;
    /* background-color:#ccc; */
}
.down{
    background-color:#efe4d4;
    box-shadow:0px 0px 5px var(--fontcolor);
}

/* 로고 */
header h1, header img{
    width:70px;
    height:70px;
}
/* 메뉴 */
header div, header ul{
    display:flex;
    justify-content:space-between;
    font-size:20px;
    align-items:center;
}
header ul{
    margin-right:50px;
    width:600px;
}
header li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 50%;
    background-color: #a0d123;
    z-index: -1;
}
header li:hover a:after {
    transition:0.7s;
    width: 100%;
}
header i{
    font-size:40px;
    cursor:pointer;
}

/* ------- 비주얼  ------- */
#visual{
    padding-top:70px;
    box-sizing:border-box;
    margin:0px auto;
    width:100%;
    height:100vh;
    overflow:hidden;
}
/* 제목 */
#visual h2{
    z-index:10;
    position:absolute;
    left:50px;
    font-size:110px;
    animation:vistitle 0.7s linear;
}
@keyframes vistitle {
    from{transform:translate(-5%, -5%); opacity:0;}
    to{transform:translate(0%, 0%); opacity:1;}
}
#visual h2:before{
    content:"";
    position:absolute;
    top:-100px;
    left:-100px;
    z-index:-1;
    width:200px;
    height:200px;
    background:radial-gradient(var(--maincolor),transparent, transparent);
}
#visual span{
    margin-left:50px;
}
/* 사진 */
.vis_profile{
    z-index:0;
    position:absolute;
    left:20%;
    bottom:0;
    height:50vh;
    transform:translate(-40%, 0%);
    animation:vispro 0.7s linear;
    animation-delay:0.2s;
}
@keyframes vispro {
    from{transform:translate(-40%, 10%); opacity:0;}
    to{transform:translate(-40%, 0%); opacity:1;}
}
/* 도형 */
.green::before{
    content:"";
    position:absolute;
    right:20vw;
    bottom:-10vw;
    width:20vw;
    height:30vw;
    background:no-repeat url(../img/vis_text.svg) center;
    animation:smallcircle 2s infinite alternate-reverse linear;
}
@keyframes smallcircle {
    from{transform:rotate(-60deg) translateY(0%);}
    to{transform:rotate(-60deg) translateY(5%);}
}
.green{
    z-index:-1;
    position:absolute;
    display:inline;
    bottom:0;
    right:5vw;
    width:30vw;
    height:45vw;
    background-color:var(--maincolor);
    border-radius:25vw 10vw;
    /* transform:rotate(30deg) translate(-20%, 0%); */
    animation:bigcircle 3s infinite alternate linear;
}
@keyframes bigcircle {
    from{transform:rotate(30deg) translate(-20%, 0%);}
    to{transform:rotate(30deg) translate(-20%, 5%);}
}

/* ------- (컨테이너1) 자기소개 ------- */
section{
    position:relative;
    width:100%;
    height:100vh;
}
/* section h2{
    font-size:90px;
    font-size:10vh;
} */
#con1_intro{
    height:200vh;
}
/* --- 가치관 --- */
.intro_beliefs{
    position:relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}
.intro_beliefs div{
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
.intro_beliefs h2{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:80%;
    text-align:center;
    font-size:5vw;
}
.intro_beliefs span{
    font-family:'InkLipquid';
    font-weight: normal;
    color:#739223;
}
.intro_bg1{
    transition:3s;
    background-image:url(../img/intro_bg1.jpg);
}
.intro_bg2{
    background-image:url(../img/intro_bg2.jpg);
}
/* 배경변화 */
.changebg{
    margin-bottom:-100vh;
}
/* --- 프로필 --- */
.intro_profile{
    position:relative;
    padding-top:70px;
    box-sizing: border-box;
    width:100%;
    height:100vh;
    /* background-color:#ccc; */
}
.intro_profile h2{
    font-size:12vh;
}
.info{
    position:relative;
    left:40px;
    top:40px;
    width:60vh;
    height:40vh;
}
.info img{
    width:auto;
    height:100%;
}
.info::before{
    z-index:20;
    position:absolute;
    top:-20px;
    left:70px;
    content:"";
    display:block;
    width:10vh;
    height:10vh;
    background-image:url(../img/intro_flower.svg);
    background-repeat:no-repeat;
    animation:flower 2.5s infinite alternate linear;
}
@keyframes flower{
    from{transform:rotate(30deg)}
    to{transform:rotate(210deg)}
}
.info::after{
    content:"";
    position:absolute;
    top:10px;
    left:10px;
    display:block;
    width:70vh;
    height:50vh;
    background-image:url(../img/intro_frame.png);
    background-repeat:no-repeat;
    background-size:contain;
}
.circle{
    z-index:20;
    position:absolute;
    right:0px;
    bottom:-7vh;
    padding-top:3.5vh;
    box-sizing:border-box;
    width:15vh;
    height:15vh;
    background-color:#5f5340;
    border-radius:50%;
    text-align:center;
    font-size:1.5vh;
    /* animation:myinfo 1s 1 ease-out; */
    transform:rotateY(180deg);
    transition:2s;
}
/* @keyframes myinfo{
    from{transform:rotateY(180deg)}
    to{transform:rotateY(360deg)}
} */
.circle h3, .circle p{
    color:#efe4d4;
}
.title{
    position:absolute;
    left:40px;
    bottom:40px;
}
/* 경력 */
.career-history{
    position:absolute;
    top:0;
    right:40px;
    width:400px;
    height:85vh;
    display:flex;
    justify-content:flex-end;
    gap:20px;
    text-align:right;
}
.career-history ul{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    margin-top:90px;
}
.career-history li{
    opacity:0;
    transition:0.5s ease-in;
}
.career-history h3{
    position:relative;
}
.career-history ul li h3::after{
    position:absolute;
    z-index:-1;
    top:5px;
    right:5px;
    content:"";
    width:1px;
    height:1px;
    border-radius:50%;
    background-color:#a8a39c;
    opacity:0;
    transition:0.5s;
}
.career-history ul li:hover h3::after{
    opacity:1;
    transform:scale(30);
}
.career-history dl{
    display:flex;
    justify-content: flex-end;
    gap:10px;
}
/* 화살표 */
.career-history .line {
    position: relative;
    width: 5px;
    height: 0;
    background-color: var(--fontcolor);
    border-radius: 5px;
    transition: height 1s ease-out;
}
.career-history .line::after {
    content: "";
    position: absolute;
    right: 20px;
    /* left:calc(100% - 25px); */
    bottom: -10px;
    width: 5px;
    height:0px; /* 초기 height 설정 */
    background-color: var(--fontcolor);
    border-radius: 5px;
    transform: rotate(-45deg);
    transition:height 2s, opacity 3s;
    opacity: 0;
}
/* 추가할 클래스 */
.career-history .line.line-active {
    height: 100%;
}
.career-history .line.line-active::after {
   height:60px;
   opacity:1;
}

/* ------- (컨테이너2) 자기소개 ------- */



/* =========== 태블릿 =========== */
@media(max-width:1200px){

    /* ------- 헤더 ------- */
    header{
        height:50px;
    }
    /* 로고 */
    header h1, header img{
    width:50px;
    height:50px;
    }
    header ul{
        display:none;
    }
    header li{
        cursor:pointer;
    }
    header i{
        font-size:30px;
    }
    /* ------- 비주얼 ------- */
    #visual h2{
        left:50px;
        font-size:10vw;
    }
    .green:before{
        content:"";
        position:absolute;
        right:20vh;
        bottom:-10vh;
        width:20vh;
        height:30vh;
        transform:rotate(-60deg);
        background:no-repeat url(../img/vis_text.svg) center;
    
    }
    .green{
        z-index:-1;
        position:absolute;
        display:inline;
        top:50%;
        right:5vw;
        width:30vh;
        height:45vh;
        background-color:var(--maincolor);
        border-radius:25vh 10vh;
    }
    /* ------- (컨테이너1) 자기소개 ------- */
    .intro_bg1{
        background-image:url(../img/intro_bg1_mb.jpg);
    }
    .intro_bg2{
        background-image:url(../img/intro_bg2_mb.jpg);
    }
    /* --- 프로필 --- */
    .intro_profile{
        padding-top:50px;
    }
    .intro_profile{
        position:relative;
        padding-top:50px;
        box-sizing: border-box;
        width:100%;
    }
    .intro_profile h2{
        font-size:9vw;
    }
    .info{
        position:absolute;
        top:auto;
        bottom:5vh;
        width:50vw;
        height:30vw;
    }
    .info img{
        width:auto;
        height:100%;
    }
    .info::before{
        width:10vw;
        height:10vw;
        top:-2vw;
        left:6vw;
    }
    .info::after{
        top:1vw;
        left:1vw;
        width:55vw;
        height:30vw;
    }
    .circle{
        display:none;
    }
    .circle h3, .circle p{
        color:#efe4d4;
    }
    .title{
        position:absolute;
        left:40px;
        top:10vh;
        /* bottom:auto; */
    }
    /* 경력 */
    .career-history{
        width:270px;
        height:90vh;
    }
    .career-history ul{
        height:50vh;
        margin-top:35vh;
    }
    .career-history dl{
        display:block;
    }
    .career-history dl dd{
        display:none;
    }
}



/* =========== 모바일 =========== */
@media(max-width:800px){
    /* ------- 헤더 ------- */
    header{
        padding:10px;
    }
    /* .down{
        bottom:0;
    } */
    /* ------- 비주얼 ------- */
    .green:before{
        content:"";
        position:absolute;
        right:20vh;
        bottom:-10vh;
        width:20vh;
        height:30vh;
        transform:rotate(-60deg);
        background:no-repeat url(../img/vis_text.svg) center;
    
    }
    .green{
        z-index:-1;
        position:absolute;
        display:inline;
        top:45vh;
        right:5vw;
        width:30vh;
        height:45vh;
        background-color:var(--maincolor);
        border-radius:25vh 10vh;
    }
    /* ------- (컨테이너1) 자기소개 ------- */
    .intro_beliefs h2{
        font-size:5.5vw;
    }
    /* --- 프로필 --- */
    .intro_profile{
        padding-top:50px;
    }
    /* .intro_profile{
        position:relative;
        padding-top:50px;
        box-sizing: border-box;
        width:100%;
    }
    .intro_profile h2{
        font-size:9vw;
    }*/
    .info{
        position:absolute;
        /* left:50%;
        transform:translateX(-50%);
        top:auto;
        bottom:5vh; */
        /* width:50vh; */
        height:40vw;
    }
    .info::after{
        top:5px;
        left:5px;
        width:70vw;
        height:50vw;
    }
    .career-history{
        font-size:13px;
        height: 65vh;
    }
    .career-history ul{
        margin-top:20vh;
        height:40vh;
    }
}